{% extends "index.html" %}
{% block body %}
 	<pre>

I am Fadi Abu Al Hommos, palestinian, lives in Ramallah.
I am in friends school, in 10th grade.
I'm willing to study medicine in Either Cornell university or Abu Dies university 

What Are My Hobbies?
I have a lot of hobbies, first of all, I'm a hacker. Since i was a small kid, i started to 
hack apps, and by time, i can now hack many things, as apps , pc , websites, and consels.
One of my major, hacks, was hacking my xbox, as i can now download games for free on it.

Also i'm a basketball player, and a football.


Finally, i'm a coder, as i can code games, using python language.
Also, i can code websites, using html, css and javascript.

Thank You...
</pre>


	
	

</body>

</html>


{% endblock %}
