{% extends "index.html" %}
{% block body %}
 <body>

<button type="button" onclick="alert('	اهلا و سهلا بكم على متن الخطوط الويكوديا !')" align="1000px-200px">اضغط</button></li>
<div id="music"><embed src="../static/best2.mp3" autostart=true loop=true hidden="true"  ></div> 
        </ul>
      </div>	
    </nav>	
 	<h1>  </h1>

	<img src="../static/hack2.jpg" alt="Smiley face" width="300" height="300" align="middle" style="margin:-220px -130px">
	<img src="../static/fad.jpg" alt="Smiley face" width="500" height="300" align="middle" style="margin:0px 380px">

 	<img src="../static/hacker.jpg" alt="Smiley 3face" width="250" height="120" align="middle" style="margin:-1000px 10spx">
 	<img src="../static/fbs.png" alt="Smiley 6face" width="200" height="120" align="middle" style="margin:-1100px 204px">
	
	


</body>

</html>



	<img src="../static/fadi2.png" alt="Smiley1 face" width="230" height="120" align="middle" style="margin:-600px 0px">
{% endblock %}