<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css" />

	</head>

<title>Fadi H Website</title>
 
<style>
body {
        background-image: url("../static/bg.jpg");
} 

 
</style>
 
</head>
 <body>

 	<div id="main">
    <header>
	  <div id="banner">
	    <div id="Fadi">
	      <h3>Fadi Abu Al Hommos<span>Website</span></h3>
	    </div>
	    <div id="Fadiho">
	      <h3>Seeking for More!</h3>
	    </div>			
	  </div>
    </header>
  	<nav>
	  <div id="menubar">
        <ul id="nav">
          <li class="current"><a href="index2.html">Home</a></li>
          <li><a href="aboutfadi.html">About Fadi</a></li>
          <li><a href="mylife.html">My Life</a></li>
          <li><a href = "projects.html">Projects</a></li>
          <li><a href = "contctme.html" >Contact Me</a></li>
          <li>
<button type="button" onclick="alert('	اهلا و سهلا بكم على متن الخطوط الويكوديا !')" align="1000px-200px">اضغط</button></li>
<div id="music"><embed src="/home/user/Documents/Flask/personalSite/static/best2.mp3" autostart=true loop=true hidden="true"  ></div> 
        </ul>
      </div>	
    </nav>	
 	<h1>  </h1>


	<img src="../static/hack2.jpg" alt="Smiley face" width="300" height="300" align="middle" style="margin:-220px -130px">
	<img src="../static/fad.jpg" alt="Smiley face" width="500" height="300" align="middle" style="margin:0px 380px">

 	<img src="../static/hacker.jpg" alt="Smiley 3face" width="250" height="120" align="middle" style="margin:-1000px 10spx">
 	<img src="../static/fbs.png" alt="Smiley 6face" width="200" height="120" align="middle" style="margin:-1100px 204px">
	
	

<html>
<body>

 
</body>
</html>


</body>

</html>



	<img src="../static/fadi2.png" alt="Smiley1 face" width="230" height="120" align="middle" style="margin:-600px 0px">